fastapi
uvicorn
mysql-connector-python
python-dotenv
google
google-generativeai
google-genai
PyMuPDF
pydantic-settings
python-multipart
passlib[bcrypt]
python-jose[cryptography]
google-auth-oauthlib
aiohttp
